body{
  margin: 2%;
  background-color: #e6dacf;
  background: -moz-linear-gradient(top, #1e8449 0%, #000000 75%);
  background: -webkit-linear-gradient(#1e8449  0%, #000000 75%);
}

header{
  padding: 15px 10px;
  background-color: #000000;
  text-align: center;
}

footer{
  background-color: #505050;
  clear: both;
}

h1{
  font-family: 'Bebas Neue',cursive;
  font-size: 250%;
  text-align: center;
  color: #ffffff;
}

nav{
  font-family: 'Bebas Neue',cursive;
  font-size: 150%;
}

/*Adding a selector for the nav bar*/
nav a{
  display: inline-block;
  width: 20%;
  text-decoration: none;
  border: 2px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
}

nav a:hover{
  background-color: #ffffff;
  color: #000000;
}

nav a:focus{
  background-color: #ffffff;
  color: #000000;
}

h2{
  font-family: 'Bebas Neue',cursive;
  color: #ffffff;
  background-color: #000000
}

a{
  display: inline-block;
  color: #1e8449;
}

a:hover{
  background-color: #000000;
  color: #ffffff;
}

a:focus{
  background-color: #000000;
  color: #ffffff;
}

a:active{
  border: 2px solid #ff0000;
}

p, li, summary{
  font-family: 'Roboto', sans-serif;;
}

footer p{
  color: #ffffff;
}

.half{
  width: 45%;
  display: inline-block;
  float: left;
  margin: 1.6%;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(200, 200, 200, 0.3);
}

.whole{
  clear: both;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(200, 200, 200, 0.3);
}

progress[value]{
  background-color: #10ff10;
}

img{
  width: 10%;
}

/* This is an exaple of a prefix */
header, footer{
  background: #000000;
  background: -moz-linear-gradient(top, #1e8449 0%, #000000 75%);
  background: -webkit-linear-gradient(#1e8449  0%, #000000 75%);
  background-image: url('../img/tropical2.jpg');
  background-size: cover;
}
