body{
  margin: 0;
  background-color: #fafac8;
  background: -moz-linear-gradient(top, #fafac8 0%, #000000 75%);
  background: -webkit-linear-gradient(#fafac8  0%, #000000 75%);
  background: -o-linear-gradient(#fafac8  0%, #000000 75%);
}

header{
  padding: 20px 0 20px 20px;
  background-color: #000000;
  text-align: right;
}

footer{
  background-color: #000000;
  clear: both;
}

h1{
  font-family: 'Bebas Neue',cursive;
  font-size: 300%;
  text-align: left;
  color: #ffffff;
}

nav{
  font-family: 'Bebas Neue',cursive;
  font-size: 150%;
}

/*Adding a selector for the nav bar*/
nav a{
  padding: 2.5%;
  text-decoration: none;
  color: #ffffff;
}

nav a:hover{
  background-color: #ffffff;
  color: #000000;
}

nav a:focus{
  background-color: #ffffff;
  color: #000000;
}

nav a:last-child{
  margin: 0 20px 0 0;
}

h2{
  font-family: 'Encode Sans Condensed', sans-serif;
  color: #000000;
  margin: 15px 0 15px 15px;
}

a{
  display: inline-block;
  color: #1e8449;
}

a:hover{
  background-color: #000000;
  color: #ffffff;
}

a:focus{
  background-color: #000000;
  color: #ffffff;
}

a:active{
  color: #1e8449;
}

nav a:active{
  color: #ffffff;
  background-color: #1e8449;
}

summary{
  font-family: 'Roboto', sans-serif;
}

p{
  font-family: 'Roboto', sans-serif;
  margin: 30px;
  text-align: justify;
}

footer p{
  color: #ffffff;
}

.half{
  width: 50%;
  height: 51%
  display: inline-block;
  float: left;
  background-color: #fafac8;
}

.about{
  background-color: #f1c40f;
  clear: both;
}

.me{
  width: 60%;
  display: inline-block;
  float: left;
  background-color: #fafac8;
}

.me-img{
  width: 40%;
  background-color: #fafac8;
  display: inline-block;
  float: right;
  background-color: #f9e79f;
}

.me-img img{
  display: block;
  width: 25%;
  margin: 0 auto;
}

.animate{
  background-color: #c63463;
  display: block;
  padding: 10px;
}

.animate img{
  width: 15%;
  vertical-align: middle;
  -webkit-transition:-webkit-transform 1s,opacity 1s,background 1s,width 1s,height 1s,font-size 1s;
  -webkit-border-radius: 5px;
  -o-transition-duration:1s,1s,1s,1s,1s,1s;
  transition-duration:1s,1s,1s,1s,1s,1s;
  border-radius: 5px;
}

.animate img:hover{
  width: 20%;
}

progress[value]{
  background-color: #10ff10;
}

footer img{
  width: 10%;
}

/* This is an exaple of a prefix */
/*header, footer{
  background: #000000;
  background: -moz-linear-gradient(top, #1e8449 0%, #000000 75%);
  background: -webkit-linear-gradient(#1e8449  0%, #000000 75%);
  background: -o-linear-gradient(#1e8449  0%, #000000 75%);
  background-image: url('../img/tropical2.jpg');
  background-size: 110%;
  background-position: center;
}*/
